
<body>
    <h1 class="center login">V.H.S.</h1>
    <h4 class="center login">Very Happy Server</h4>
    <div class="container">
        <div class="input-field col s12 m12 l5">
            <h3 class="login">login</h3>
            <form action="/" method="post">
                <input id="username" placeholder="username" class="controls" type="text" name="username" required>
                <input id="password" placeholder="password" class="controls" type="password" name="password" required>
                <input type="submit" value="login" class="waves-effect waves-light btn">
            </form>
        </div>
        <div class="input-field col s12 m12 l5">
            <h3 class="login"> new to the scene?</h3>
            <form action="/new" method="post">
                <input id="username" placeholder="your username" class="controls" type="text" name="newUsername" required>
                <input id="password" placeholder="password. must be at least 12 characters long" class="controls" type="password" name="newPassword" required>
                <input type="submit" value="create account" class="waves-effect waves-light btn">
            </form>
        </div>

</body>
