<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- me -->
    <script type="text/javascript" src="/javascripts/events.js">
    </script>
    <title>VHS Happy</title>
</head>

<body>
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg"></a>
    </div>
    <h1 class="center">VHS</h1>
    <div class="container">
        <div class="input-field col s12 m12 l5">
            <h3>login</h3>
            <form action="/" method="post">
                <input id="username" placeholder="username" class="controls" type="text" name="username" required>
                <input id="password" placeholder="password" class="controls" type="password" name="password" required>
                <input type="submit" value="login" class="waves-effect waves-light btn">
            </form>
        </div>
        <div class="input-field col s12 m12 l5">
            <h3> new to the scene?</h3>
            <form action="/" method="post">
                <input id="username" placeholder="your username" class="controls" type="text" name="newUsername" required>
                <input id="password" placeholder="password. must be at least 12 characters long" class="controls" type="password" name="newPassword" required>
                <input type="submit" value="create account" class="waves-effect waves-light btn">
            </form>
        </div>

</body>

</html>
