<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- my js -->
    <script type="text/javascript" src="/javascripts/events.js">
    </script>

    <!-- index page font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!-- title icon-->
    <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/9639-200.png">

    <!-- my stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>VHS</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
